@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #3f6341;
    font-size: 42px;
}

.rounded {
    width: 54px;
    height: 5px;
    border-radius: 0.5rem;
    background-color: #dca547;
}

#multipleChoiceComponent {
    display: flex;
    flex-direction: column;
}

.btnChoice {
    margin: 5% 0 5% 0;
    border-color: #3f6341;
    background-color: transparent;
    border-radius: 0.625rem;
    padding: 1rem 1.25rem;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: inherit;
}

#components {
    margin-top: 3%;
}

#result {
    margin-top: 5%;
}